// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
}

[data-status="loading"] {
  display: block;
}

[data-status="done"] {
  display: none;
}